body {
    margin: 0;
    padding: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.app__container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#messages__container {
    background: none;
    color: #000;
    border: 1px solid grey;
    border-radius:20px;
    min-height: 480px;
    min-width: 425px;
    max-height: 100%;
    padding: 0.25em 0.5em;
}

li {
    list-style: none;
}

#messages__container li:nth-child(even) {
    background-color: #F5F5F5;
}
.message {
    padding: 0.5em;
    font-size: 1.1em;
    width: 425px;
    height: 48px;
    height: auto;
    transition: opacity .5s linear;
}
